body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #e44d26;
    color: #fff;
    border: none;
    cursor: pointer;
}

.category-filters {
    margin-top: 10px;
}

.category-filters label {
    margin-right: 15px;
}

.promo-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.promo-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.promo-card img {
    max-width: 100%;
    border-radius: 8px;
}

.promo-price {
    display: block;
    color: #e44d26;
    font-size: 1.2em;
    margin-top: 10px;
}

button {
    background-color: #e44d26;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.product-details {
    text-align: center;
    margin: 20px;
}

.product-details img {
    max-width: 100%;
    border-radius: 8px;
}

.product-details button {
    background-color: #e44d26;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.shopping-cart {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shopping-cart ul {
    list-style: none;
    padding: 0;
}

.shopping-cart li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.shopping-cart button {
    background-color: #e44d26;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}
